:root {
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}

* {
	font-family: 'Red Hat Display', sans-serif;
	box-sizing: border-box; 
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('images/pattern-background-mobile.svg');
	background-size: contain;
	background-repeat:repeat-x;
	background-blend-mode: darken;
	background-color: var(--pale-blue);
}
@media (min-width: 768px){
	body {background-image: url('images/pattern-background-desktop.svg');}
}

.order-summary-card {
	max-width: 325px;
	background-color: #fff;
	border: 0;
	border-radius: 18px;
	-webkit-box-shadow: 0px 23px 35px 2px rgba(0,0,0,0.2); 
	box-shadow: 0px 23px 35px 2px rgba(0,0,0,0.2);
	text-align: center;
}

.summary-hero {
	height: 160px;
	background-image: url('images/illustration-hero.svg');
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 18px 18px 0 0;
}

.order-summary-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.8rem;
}

header h1 {
	margin: 0;
	font-size: 1.4rem;
	font-weight: 800;
	color: var(--dark-blue);
}

header p {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--desaturated-blue);
}

.plan-dets {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 15px;
	margin-bottom: 25px;
	background-color: hsla(225, 100%, 98%, 0.7);
	border-radius: 10px;
}
.plan-dets * {
	margin: 0;
	font-size: .9rem;
}

.plan {
	flex-grow: 4;
	padding-left: 18px;
	text-align: left;
}
.plan h2 {
	margin-bottom: 5px;
	font-size: .8rem;
	font-weight: 800;
	color:  var(--dark-blue);
}
.plan p {
	font-size: .85rem;
	color: var(--desaturated-blue);
}

.change-plan {
	font-size: .8rem;
	font-weight: bold;
	color: var(--bright-blue);
}
/*.change-plan:hover {
	opacity: 0.7;
}*/

.pay-btn {
	width: 100%;
	margin-bottom: 25px;
	padding: 15px;
	background-color: var(--bright-blue);
	border-radius: 10px;
	-webkit-box-shadow: 0px 20px 30px 0px hsla(245, 75%, 52%, 0.3); 
	box-shadow: 0px 20px 30px 0px hsla(245, 75%, 52%, 0.3);
	font-size: 0.9rem;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}
.pay-btn:hover,
.change-plan:hover {
	opacity: 0.7;
}

.cancel-link {
	font-size: .9rem;
	font-weight: 800;
	text-decoration: none;
	color: var(--desaturated-blue);
}
.cancel-link:hover {
	color: var(--dark-blue);

}

.attribution {
	display: none;
	padding-top: 40px;
	font-size: 12px; 
	line-height: 1.8;
}
.attribution a {
	color: var(--dark-blue);
	font-weight: 600;
	text-decoration: none;
}
.attribution a:hover {
	color: var(--bright-blue);
	font-weight: 700;
}